@page
@using University.Active.Manager.Contracts.User
@model University.Active.Manager.Web.Pages.Account.SignUp

@{
    Layout = "Shared/_Layout";
}
<div>
    <form method="post">
        <p>
            <label asp-for="Profile.ProfileType">Тип профиля</label>
                    
            <select asp-for ="@Model.Profile.ProfileType">
                          
                @foreach (var profileType in Enum.GetValues(typeof(ProfileType)))
                {
                            
                    <option value="@profileType">@profileType</option>
                }
            </select>
        </p>
        <p>
            <label asp-for="Profile.FirstName">Имя</label><br/>
            <input asp-for="Profile.FirstName"/>
        </p>
        <p>
            <label asp-for="Profile.LastName">Фамилия</label><br/>
            <input asp-for="Profile.LastName"/>
        </p>
        <p>
            <label asp-for="Profile.MiddleName">Отчество</label><br/>
            <input asp-for="Profile.MiddleName"/>
        </p>
        
        <select asp-for="@Model.Profile.Institute" >
                              
            @foreach (var institute in Model.Institutes)
            {
                        
                <option value="@institute.Value">@institute.Text</option>
            }
        </select>
        
        <p>
            <label>Курс:</label><br/>
            <input name="course" type="number"/>
        </p>
        <p>
            <label>Курс:</label><br/>
            <input name="course" type="number"/>
        </p>
        <p>
            <label>Курс:</label><br/>
            <input name="course" type="number"/>
        </p>
        <label for="institute">Институт</label>
        

        <input type="submit" value="Отправить"/>
    </form>
</div>
